<%- include("../partials/header") %>

<% if (pages > 0) { %>
<nav id="navigator">
    <ul class="pagination justify-content-center mt-3">

        <% if (page <= 1) { %>
        <li class="page-item invisible"><a class="page-link">&laquo;</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/words?page=<%= Number(page)-1%>">&laquo;</a></li>
        <% } %>

        <li class="page-item active page-link mx-3 text-warning"><%= page %> / <%= pages %></li>

        <% if (page == pages) { %>
        <li class="page-item invisible"><a class="page-link">&raquo</a></li>
        <% } else { %>
        <li class="page-item"><a class="page-link" href="/words?page=<%= Number(page)+1 %>">&raquo</a></li>
        <% } %>
    </ul>
</nav>
<% } %>


<div class="container serifChar">


    <% let previousLetter;
    let collator = new Intl.Collator('it', {sensitivity: 'base'}); %>

    <div id="voc_list" class="list-group list-group-flush">
        <%  previousLetter = words.shift().clautano[0];
            words.forEach(word => { %>

        <% if ( collator.compare(word.clautano[0] , previousLetter) !== 0) {
                previousLetter = word.clautano[0]; %>
        <h1><%=previousLetter.toUpperCase()%></h1>
        <% } %>

        <a href="/words/<%= word._id %>" class="list-group-item list-group-item-action bg-transparent">
            <div>
                <span class="clautano"><%= word.clautano %></span>
                <% if(word.alternativo){ %>
                <span class="categoria"> (o </span>
                <span class="alternativo"><%= word.alternativo %></span><span>)</span>
                <% } %>
                <span class="categoria ml-1"> <%= word.categoria %></span>
                <span class="traduzione ml-2"><%= word.traduzione %></span>
            </div>
        </a>

        <% }); %>
    </div>

</div>


<%- include("../partials/footer") %>