<%- include("../partials/header") %>

<div class="container">

    <div class="card my-3 bg-transparent border-primary serifChar">
        <div class="card-body">

            <h4 class="display-4">
                <%= word.clautano %>
            </h4>

            <p class="lead">
                <% if(word.alternativo){ %>
                <span class="categoria"> (o </span>
                <span class="alternativo"><%= word.alternativo %></span><span>)</span>
                <% } %>
            </p>
            <hr class="my-4">
            <p>
                <span class="categoria mr-2"> <%= word.categoria %></span>
                <span id="traduzione"><%= word.traduzione %></span>
            </p>

        </div>

    </div>
    <div class="d-flex justify-content-between">
        <% if (word.voc_claut_1996) { %>
        <small class="text-muted mr-3"><span class="mr-1 font-italic">Fonte:<br></span>'VOCABOLARIO CLAUTANO - Borsatti,
            Giordani, Peressini - 1996'</small>
        <% }  else { %><div></div><% } %>
        <% if ((currentUser && currentUser.isAdmin === true) || (currentUser && currentUser._id.equals(word.user.id))) { %>
        <small class="text-muted"><span class="mr-1 font-italic">Inserita
                da:<br></span><%= word.user.fullName %></small>
        <% } else { %><div></div><% } %>
    </div>

</div>

<%- include("../partials/jsLibs") %>

</body>

</html>